/* line 1, ../sass/footer.scss */
footer {
  margin-top: 45px;
  padding-bottom: 15px;
  background: #eee;
  clear: both;
}
/* line 7, ../sass/footer.scss */
footer a {
  color: #333;
}
/* line 11, ../sass/footer.scss */
footer .footer-social {
  margin-top: 15px;
  margin-bottom: 45px;
}
/* line 16, ../sass/footer.scss */
footer .social-contain .fa {
  position: relative;
  top: -3px;
}
/* line 20, ../sass/footer.scss */
footer .social-contain .fa:before {
  top: 0;
}
/* line 25, ../sass/footer.scss */
footer .social-contain h4 {
  font-size: 24px;
}

/* line 30, ../sass/footer.scss */
.copyright {
  color: #ccc;
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px;
  padding-top: 50px;
}
/* line 37, ../sass/footer.scss */
.copyright .footer-menu {
  margin-bottom: 5px;
}
/* line 40, ../sass/footer.scss */
.copyright .footer-menu a {
  color: #333;
  font-size: 16px;
}
/* line 46, ../sass/footer.scss */
.copyright a {
  font-size: 14px;
  color: #ccc;
}

/* line 53, ../sass/footer.scss */
.stay-connected.section-header:before, .stay-connected.section-header:after {
  top: 10px;
}

@media (max-width: 768px) {
  /* line 59, ../sass/footer.scss */
  input, select, button:not(.navbar-toggle), #id_produce-wrapper {
    width: 100%;
  }

  /* line 64, ../sass/footer.scss */
  footer h2, footer h4 {
    margin-bottom: 25px;
  }
  /* line 68, ../sass/footer.scss */
  footer .social-contain h4 {
    font-size: 20px;
  }
  /* line 71, ../sass/footer.scss */
  footer .social-contain h4 .fa:before {
    top: 3px;
  }
}
