/****
      HEADER
              ****/
/* line 6, ../sass/header.scss */
#header {
  transition: all 0.2s;
}

/* line 10, ../sass/header.scss */
#header:not(.wide),
#header:not(.wide) .header-logo,
#header:not(.wide) .header-text {
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
}

/* line 17, ../sass/header.scss */
.header-logo {
  width: 225px;
  height: 115px;
  background: url("../images/se_logo.png");
  background-repeat: no-repeat;
  transition: all 0.2s;
}
/* line 24, ../sass/header.scss */
.header-logo a {
  display: inline-block;
  width: 150px;
  height: 100px;
}

@media (max-width: 768px) {
  /* line 32, ../sass/header.scss */
  .header-logo {
    max-width: 32%;
    min-height: 55px;
    background-size: 100%;
    position: absolute;
  }
}
/* line 40, ../sass/header.scss */
.header-text {
  opacity: 0;
  position: absolute;
  top: 10px;
  font-size: 28px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: all 0.2s;
}

/* line 50, ../sass/header.scss */
#header.wide {
  background: #404040;
  height: 45px;
  opacity: 0.95;
}
/* line 55, ../sass/header.scss */
#header.wide .header-logo {
  opacity: 0;
}
/* line 59, ../sass/header.scss */
#header.wide .header-text {
  opacity: 1;
}

@media (min-width: 768px) {
  /* line 66, ../sass/header.scss */
  #header.wide li a {
    color: #fff;
  }
}
/* line 72, ../sass/header.scss */
.navbar:not(.wide) .navbar-collapse {
  background: #E9E9E9;
  transition: all 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}

/* line 79, ../sass/header.scss */
.navbar-inverse {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
/* line 86, ../sass/header.scss */
.navbar-inverse .navbar-collapse {
  padding: 0;
}
/* line 91, ../sass/header.scss */
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li.active > a
> li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus,
.navbar-inverse .navbar-nav > li.active > a:active {
  color: #333;
  font-size: 18px;
  padding: 12px 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 106, ../sass/header.scss */
  .navbar-inverse .navbar-nav > li > a {
    font-size: 12px;
  }
}
/* line 111, ../sass/header.scss */
header .container {
  position: relative;
}

@media (min-width: 768px) {
  /* line 116, ../sass/header.scss */
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (min-width: 768px) {
  /* line 124, ../sass/header.scss */
  .navbar-collapse {
    float: right;
  }
}
@media (max-width: 768px) {
  /* line 130, ../sass/header.scss */
  .navbar-collapse {
    background: #063C22;
    position: relative;
  }

  /* line 135, ../sass/header.scss */
  .navbar-inverse .navbar-nav > li > a {
    color: #fff;
    padding-left: 35px;
    padding-right: 35px;
  }

  /* line 141, ../sass/header.scss */
  .navbar-toggle {
    position: relative;
    z-index: 999;
  }
  /* line 145, ../sass/header.scss */
  .navbar-toggle .icon-bar {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
}
/* line 152, ../sass/header.scss */
.navbar-nav li {
  transition: all 0.2s;
}
/* line 156, ../sass/header.scss */
.navbar-nav li.active, .navbar-nav li:hover {
  background: #D6D4D5;
}

/* line 161, ../sass/header.scss */
.social-log-contain {
  position: absolute;
  top: 45px;
  right: 20.5%;
  width: 200px;
  height: 0px;
  background: #D6D4D5;
  overflow: hidden;
  transition: all 0.2s;
}
/* line 171, ../sass/header.scss */
.social-log-contain.on {
  height: 50px;
}
/* line 175, ../sass/header.scss */
.social-log-contain a {
  display: inline-block;
  width: 45%;
  margin-left: 5px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
  height: 40px;
}
/* line 185, ../sass/header.scss */
.social-log-contain i {
  position: relative;
  top: 25%;
}
/* line 188, ../sass/header.scss */
.social-log-contain i:before {
  font-size: 20px;
}
/* line 193, ../sass/header.scss */
.social-log-contain .facebook {
  background: #3765A3;
}
/* line 195, ../sass/header.scss */
.social-log-contain .facebook:hover {
  background: #24426a;
}
/* line 198, ../sass/header.scss */
.social-log-contain .facebook:active {
  background: #172a44;
}
/* line 203, ../sass/header.scss */
.social-log-contain .google {
  background: #DC493C;
}
/* line 205, ../sass/header.scss */
.social-log-contain .google:hover {
  background: #ad2a1f;
}
/* line 208, ../sass/header.scss */
.social-log-contain .google:active {
  background: #812017;
}

/* line 214, ../sass/header.scss */
.page-title {
  color: #fff;
  float: left;
  font-size: 32px;
}

/* line 220, ../sass/header.scss */
.menu-container {
  margin-top: -25px;
}

/* line 224, ../sass/header.scss */
.navbar-nav li a {
  color: #333;
  text-transform: uppercase;
}

/*mobile navbar*/
/* line 230, ../sass/header.scss */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}
