/***
      UNIVERSAL ELEMENTS
                        ***/
/* line 6, ../sass/pages.scss */
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* line 11, ../sass/pages.scss */
.page-container {
  padding-top: 150px;
}

/* line 15, ../sass/pages.scss */
.section-header,
#postman h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}
/* line 24, ../sass/pages.scss */
.section-header:before, .section-header:after,
#postman h1:before,
#postman h1:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  border-top: 1px solid #ccc;
  width: 32.5%;
  z-index: -1;
}
/* line 34, ../sass/pages.scss */
.section-header:after,
#postman h1:after {
  right: 0;
}

/* line 39, ../sass/pages.scss */
p, span, div, a, h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

/* line 43, ../sass/pages.scss */
.fa {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
  background: #ccc;
}
/* line 50, ../sass/pages.scss */
.fa:before {
  color: #fff;
  font-size: 16px;
  position: relative;
  top: -3px;
}
/* line 57, ../sass/pages.scss */
.fa.fa-facebook {
  background: #3765A3;
}
/* line 61, ../sass/pages.scss */
.fa.fa-twitter {
  background: #5EA9DD;
}
/* line 65, ../sass/pages.scss */
.fa.fa-share-alt {
  background: #2D7140;
}
/* line 69, ../sass/pages.scss */
.fa.fa-flickr {
  background: #E30761;
}
/* line 73, ../sass/pages.scss */
.fa.fa-youtube {
  background: #E12B28;
}
/* line 77, ../sass/pages.scss */
.fa.fa-share-alt:before {
  top: -6px;
}

/* line 83, ../sass/pages.scss */
.social-log-contain .fa,
.social-log-contain .fa-facebook,
.social-log-contain .fa-google-plus {
  background: transparent;
}

@media (max-width: 768px) {
  /* line 92, ../sass/pages.scss */
  .section-header:before, .section-header:after {
    width: 15%;
  }
}
/* line 98, ../sass/pages.scss */
input {
  padding: 5px;
}

/* line 102, ../sass/pages.scss */
input.submit, input[type="submit"] {
  padding: 7px 7px 8px;
  background: #063C22;
  color: #fff;
  border: none;
}

/***
      HOME
            ***/
/* line 112, ../sass/pages.scss */
.mobile-home-section {
  text-align: center;
  padding: 25px 50px;
  margin-bottom: 25px;
}
/* line 117, ../sass/pages.scss */
.mobile-home-section h2 a {
  font-size: 32px;
  color: #fff;
  display: block;
}
/* line 123, ../sass/pages.scss */
.mobile-home-section.login {
  background: #0095CB;
}
/* line 127, ../sass/pages.scss */
.mobile-home-section.browse {
  background: #91C856;
}
/* line 131, ../sass/pages.scss */
.mobile-home-section.how {
  background: #ddd;
}

/* line 136, ../sass/pages.scss */
.mobile-home {
  margin-top: -50px;
}

/* line 139, ../sass/pages.scss */
.jumbotron {
  text-align: center;
  background: #fff;
  height: 400px;
  margin-bottom: 0;
  padding-top: 0;
}
/* line 146, ../sass/pages.scss */
.jumbotron h1 {
  color: #333;
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 38px;
  text-transform: uppercase;
}
/* line 155, ../sass/pages.scss */
.jumbotron .intro-slide img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  /* line 163, ../sass/pages.scss */
  .jumbotron {
    height: 1000px;
  }
  /* line 167, ../sass/pages.scss */
  .jumbotron .intro-slide img {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  /* line 176, ../sass/pages.scss */
  .intro-slide:nth-child(3) {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
/* line 184, ../sass/pages.scss */
.home-form label,
.container > form label {
  display: none;
}
/* line 188, ../sass/pages.scss */
.home-form > span,
.container > form > span {
  padding: 0 !important;
}
/* line 192, ../sass/pages.scss */
.home-form .autocomplete-light-widget.modern-style,
.container > form .autocomplete-light-widget.modern-style {
  padding: 0;
  border: none;
  margin: 0;
}
/* line 198, ../sass/pages.scss */
.home-form select,
.container > form select {
  appearance: none;
  -webkit-appearance: none;
  height: 29px;
  position: relative;
  top: -1px;
  border-radius: 0;
  border: none;
  padding: 0 5px 5px;
  background: #fff;
  color: #999;
}
/* line 210, ../sass/pages.scss */
.home-form select option,
.container > form select option {
  font-size: 18px;
}
/* line 213, ../sass/pages.scss */
.home-form select option :after,
.container > form select option :after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
}
/* line 221, ../sass/pages.scss */
.home-form input, .home-form select, .home-form textarea,
.container > form input,
.container > form select,
.container > form textarea {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
}
/* line 226, ../sass/pages.scss */
.home-form input,
.container > form input {
  position: relative;
  height: 31px;
  padding: 0 5px 5px;
  color: #999;
}
/* line 233, ../sass/pages.scss */
.home-form input[type="text"],
.container > form input[type="text"] {
  border: none;
}
/* line 237, ../sass/pages.scss */
.home-form input[type="submit"],
.home-form button[type="submit"],
.container > form input[type="submit"],
.container > form button[type="submit"] {
  color: #fff;
  position: relative;
  top: 5px;
}
/* line 244, ../sass/pages.scss */
.home-form .fa-search:before,
.container > form .fa-search:before {
  right: 7px;
}
/* line 248, ../sass/pages.scss */
.home-form .fa-search:hover,
.container > form .fa-search:hover {
  background: #0b6a3c;
}

@media (max-width: 768px) {
  /* line 254, ../sass/pages.scss */
  .jumbotron {
    margin-top: 0;
    height: 780px;
  }

  /* line 258, ../sass/pages.scss */
  .jumbotron > div {
    margin-bottom: 25px;
  }

  /* line 261, ../sass/pages.scss */
  .jumbotron h1 {
    font-size: 24px;
    margin-top: 0;
  }

  /* line 265, ../sass/pages.scss */
  .home-form input,
  .home-form button {
    margin-bottom: 5px;
    width: 100%;
    display: block;
    padding: 5px;
  }
  /* line 272, ../sass/pages.scss */
  .home-form input.submit,
  .home-form button.submit {
    padding: 10px 15px;
    height: auto;
  }

  /* line 279, ../sass/pages.scss */
  .container > form input, .container > form select, .container > form textarea {
    margin-bottom: 10px !important;
  }
}
/* line 285, ../sass/pages.scss */
.home-search {
  display: block;
  padding: 25px 50px;
  background: #91C856;
  margin-bottom: 25px;
}
/* line 291, ../sass/pages.scss */
.home-search .text-contain {
  max-width: 565px;
  margin: 0 auto;
}
/* line 296, ../sass/pages.scss */
.home-search .lead {
  color: #fff;
  padding: 0 15px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 20px;
}

/* line 305, ../sass/pages.scss */
input.submit,
button.submit {
  background: #063C22;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  position: relative;
  top: 1px;
  color: #fff;
  transition: all 0.2s;
  padding: 8px 15px;
}
/* line 317, ../sass/pages.scss */
input.submit:hover,
button.submit:hover {
  background: #91C856;
}

/* line 322, ../sass/pages.scss */
.result-item,
.profile-produce-item {
  margin-bottom: 25px;
}
/* line 326, ../sass/pages.scss */
.result-item .image,
.profile-produce-item .image {
  display: block;
  border-radius: 100%;
  overflow: hidden;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}

/* line 336, ../sass/pages.scss */
.result-item:nth-of-type(6n+1) {
  clear: left;
}

@media (max-width: 768px) {
  /* line 341, ../sass/pages.scss */
  .result-item {
    width: 48%;
  }
  /* line 343, ../sass/pages.scss */
  .result-item .image {
    width: 120px;
    height: 120px;
  }
  /* line 348, ../sass/pages.scss */
  .result-item .item-info {
    font-size: 14px;
  }
}
/* line 354, ../sass/pages.scss */
.profile-garden {
  min-height: 250px;
}

/* line 358, ../sass/pages.scss */
.item-info {
  text-align: center;
  color: #333;
}

/* SEARCH */
/* line 366, ../sass/pages.scss */
.search-container {
  margin-top: 25px;
}

/* line 370, ../sass/pages.scss */
div:not(.home-form) > .browse-container {
  text-align: center;
}

/* Profile View */
/* line 376, ../sass/pages.scss */
.user-container {
  margin: 0 auto;
  width: 66%;
}

@media (max-width: 768px) {
  /* line 382, ../sass/pages.scss */
  .user-container {
    width: 100%;
  }

  /* line 386, ../sass/pages.scss */
  .profile-header {
    font-size: 22px;
  }
  /* line 388, ../sass/pages.scss */
  .profile-header:before, .profile-header:after {
    display: none;
  }
}
/* line 395, ../sass/pages.scss */
.profile-photo {
  overflow: hidden;
  border-radius: 100%;
  float: left;
  margin-right: 25px;
  margin-bottom: 75px;
  max-width: 150px;
  max-height: 150px;
}
/* line 404, ../sass/pages.scss */
.profile-photo img {
  max-width: 100%;
}

@media (max-width: 768px) {
  /* line 410, ../sass/pages.scss */
  .profile-photo {
    float: none;
    margin: 0 auto 10px;
  }
}
/* line 417, ../sass/pages.scss */
.profile-label {
  font-weight: 600;
}

/* line 421, ../sass/pages.scss */
.value {
  font-weight: 400;
}

/* line 425, ../sass/pages.scss */
.profile-produce-item {
  margin-bottom: 25px;
}
/* line 428, ../sass/pages.scss */
.profile-produce-item .image {
  display: block;
  border-radius: 100%;
  overflow: hidden;
  width: 85px;
  height: 85px;
  margin: 0 auto;
  text-align: center;
  float: left;
}

@media (max-width: 768px) {
  /* line 442, ../sass/pages.scss */
  .profile-produce-item .image {
    float: none;
  }

  /* line 447, ../sass/pages.scss */
  .item-info {
    text-align: center;
    margin-top: 10px;
  }
}
/* line 453, ../sass/pages.scss */
.subsection-header {
  font-size: 24px;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin-top: 15px;
}

/* line 461, ../sass/pages.scss */
.profile-garden,
.profile-wishlist {
  width: 66%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 467, ../sass/pages.scss */
.profile-garden .profile-produce-item,
.profile-wishlist .profile-produce-item {
  width: 100%;
}
/* line 471, ../sass/pages.scss */
.profile-garden .item-info,
.profile-wishlist .item-info {
  display: inline-block;
  margin-left: 25px;
  text-align: left;
  width: 75%;
}

@media (max-width: 768px) {
  /* line 480, ../sass/pages.scss */
  .profile-garden,
  .profile-wishlist {
    width: 100%;
    margin-top: 25px;
  }
}
/*MESSAGE*/
/* line 490, ../sass/pages.scss */
#postman {
  margin: 0 auto;
}

/* line 495, ../sass/pages.scss */
#postman table:not(#pm_messages) th {
  display: block;
}
/* line 499, ../sass/pages.scss */
#postman table:not(#pm_messages) td {
  display: block;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  /* line 508, ../sass/pages.scss */
  #postman {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  /* line 514, ../sass/pages.scss */
  #postman {
    width: 970px;
  }
}
@media (min-width: 768px) {
  /* line 520, ../sass/pages.scss */
  #postman {
    width: 750px;
  }
}
/* line 525, ../sass/pages.scss */
button[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
  background: #063C22;
  border: none;
  padding: 10px 15px;
  color: #fff;
}

/* line 534, ../sass/pages.scss */
.pm_body {
  margin-bottom: 25px;
}

/*Message Archive*/
/* line 541, ../sass/pages.scss */
#pm_buttons button[type="submit"] {
  background: #0095CB;
}

/* line 546, ../sass/pages.scss */
#pm_messages {
  margin-top: 25px;
}
/* line 549, ../sass/pages.scss */
#pm_messages th, #pm_messages td {
  padding-right: 10px;
  padding-bottom: 5px;
}

/* line 555, ../sass/pages.scss */
label[for="id_is_organic"] {
  display: inline-block !important;
}

/* line 559, ../sass/pages.scss */
#id_is_organic {
  box-shadow: none;
  position: relative;
  top: 7px;
  margin-bottom: 15px;
}
