/***
      UNIVERSAL ELEMENTS
                        ***/
/* line 6, ../sass/pages.scss */
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* line 11, ../sass/pages.scss */
.page-container {
  padding-top: 150px;
}

/* line 15, ../sass/pages.scss */
.section-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}
/* line 23, ../sass/pages.scss */
.section-header:before, .section-header:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  border-top: 1px solid #ccc;
  width: 32.5%;
}
/* line 32, ../sass/pages.scss */
.section-header:after {
  right: 0;
}

@media (max-width: 768px) {
  /* line 39, ../sass/pages.scss */
  .section-header:before, .section-header:after {
    width: 15%;
  }
}
/* line 45, ../sass/pages.scss */
input {
  padding: 5px;
}

/* line 49, ../sass/pages.scss */
input.submit, input[type="submit"] {
  padding: 7px 7px 8px;
  background: #063C22;
  color: #fff;
  border: none;
}

/***
      HOME
            ***/
/* line 59, ../sass/pages.scss */
.mobile-home-section {
  text-align: center;
  padding: 75px 50px;
}
/* line 63, ../sass/pages.scss */
.mobile-home-section:first-child {
  padding-top: 150px;
}
/* line 67, ../sass/pages.scss */
.mobile-home-section h2 a {
  font-size: 32px;
  color: #fff;
  display: block;
}
/* line 73, ../sass/pages.scss */
.mobile-home-section.login {
  background: #999;
}
/* line 77, ../sass/pages.scss */
.mobile-home-section.browse {
  background: #bbb;
}
/* line 81, ../sass/pages.scss */
.mobile-home-section.how {
  background: #ddd;
}

/* line 85, ../sass/pages.scss */
.jumbotron {
  text-align: center;
  background: #fff;
  height: 400px;
  margin-bottom: 0;
  padding-top: 0;
}
/* line 92, ../sass/pages.scss */
.jumbotron h1 {
  color: #333;
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 38px;
  text-transform: uppercase;
}
/* line 100, ../sass/pages.scss */
.jumbotron h3 {
  font-size: 22px;
}
/* line 104, ../sass/pages.scss */
.jumbotron p {
  font-size: 16px;
}

@media (min-width: 768px) {
  /* line 110, ../sass/pages.scss */
  .intro-slide:nth-child(3) {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
/* line 118, ../sass/pages.scss */
.home-form label,
.container > form label {
  display: none;
}
/* line 122, ../sass/pages.scss */
.home-form > span,
.container > form > span {
  padding: 0 !important;
}
/* line 126, ../sass/pages.scss */
.home-form .autocomplete-light-widget.modern-style,
.container > form .autocomplete-light-widget.modern-style {
  padding: 0;
  border: none;
  margin: 0;
}
/* line 132, ../sass/pages.scss */
.home-form select,
.container > form select {
  appearance: none;
  -webkit-appearance: none;
  height: 29px;
  position: relative;
  top: -1px;
  border-radius: 0;
  border: none;
  padding: 0 5px 5px;
  background: #fff;
  color: #999;
}
/* line 144, ../sass/pages.scss */
.home-form select option,
.container > form select option {
  font-size: 18px;
}
/* line 147, ../sass/pages.scss */
.home-form select option :after,
.container > form select option :after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==) no-repeat center right;
}
/* line 157, ../sass/pages.scss */
.home-form input, .home-form select, .home-form textarea,
.container > form input,
.container > form select,
.container > form textarea {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
}
/* line 162, ../sass/pages.scss */
.home-form input,
.container > form input {
  position: relative;
  height: 31px;
  padding: 0 5px 5px;
  color: #999;
}
/* line 169, ../sass/pages.scss */
.home-form input[type="text"],
.container > form input[type="text"] {
  border: none;
}
/* line 173, ../sass/pages.scss */
.home-form input[type="submit"],
.home-form button[type="submit"],
.container > form input[type="submit"],
.container > form button[type="submit"] {
  color: #fff;
}

@media (max-width: 768px) {
  /* line 180, ../sass/pages.scss */
  .jumbotron {
    margin-top: 0;
    height: 1025px;
  }

  /* line 184, ../sass/pages.scss */
  .jumbotron > div {
    margin-bottom: 25px;
  }

  /* line 187, ../sass/pages.scss */
  .jumbotron h1 {
    font-size: 36px;
    margin-top: 0;
  }

  /* line 191, ../sass/pages.scss */
  .home-form input,
  .home-form button {
    margin-bottom: 5px;
    width: 100%;
    display: block;
    padding: 5px;
  }
  /* line 198, ../sass/pages.scss */
  .home-form input.submit,
  .home-form button.submit {
    padding: 10px 15px;
    height: auto;
  }

  /* line 205, ../sass/pages.scss */
  .container > form input, .container > form select, .container > form textarea {
    margin-bottom: 10px !important;
  }
}
/* line 211, ../sass/pages.scss */
.home-search {
  display: block;
  padding: 25px 50px;
  background: #ccc;
  margin-bottom: 25px;
}
/* line 217, ../sass/pages.scss */
.home-search .text-contain {
  max-width: 565px;
  margin: 0 auto;
}

/* line 223, ../sass/pages.scss */
input.submit,
button.submit {
  background: #063C22;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  position: relative;
  top: 1px;
  color: #fff;
  transition: all 0.2s;
  padding: 8px 15px;
}
/* line 235, ../sass/pages.scss */
input.submit:hover,
button.submit:hover {
  background: #006301;
}

/* line 240, ../sass/pages.scss */
.recent-item {
  background-color: #999;
  height: 125px;
  margin-bottom: 25px;
}
