/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/****
      HEADER
              ****/
/* line 6, ../sass/header.scss */
#header {
  transition: all 0.2s;
}

/* line 10, ../sass/header.scss */
#header:not(.wide),
#header:not(.wide) .header-logo,
#header:not(.wide) .header-text {
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
}

/* line 17, ../sass/header.scss */
.header-logo {
  width: 225px;
  height: 115px;
  background: url("../images/se_logo.png");
  background-repeat: no-repeat;
  transition: all 0.2s;
}
/* line 24, ../sass/header.scss */
.header-logo a {
  display: inline-block;
  width: 150px;
  height: 100px;
}

@media (max-width: 768px) {
  /* line 32, ../sass/header.scss */
  .header-logo {
    max-width: 32%;
    min-height: 55px;
    background-size: 100%;
    position: absolute;
  }
}
/* line 40, ../sass/header.scss */
.header-text {
  opacity: 0;
  position: absolute;
  top: 10px;
  font-size: 28px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: all 0.2s;
}

/* line 50, ../sass/header.scss */
#header.wide {
  background: #063C22;
  height: 45px;
  opacity: 0.9;
}
/* line 55, ../sass/header.scss */
#header.wide .header-logo {
  opacity: 0;
}
/* line 59, ../sass/header.scss */
#header.wide .header-text {
  opacity: 1;
}

@media (min-width: 768px) {
  /* line 66, ../sass/header.scss */
  #header.wide li a {
    color: #fff;
  }
}
/* line 72, ../sass/header.scss */
.navbar:not(.wide) .navbar-collapse {
  background: #E9E9E9;
  transition: all 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}

/* line 79, ../sass/header.scss */
.navbar-inverse {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
/* line 86, ../sass/header.scss */
.navbar-inverse .navbar-collapse {
  padding: 0;
}
/* line 91, ../sass/header.scss */
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li.active > a
> li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus,
.navbar-inverse .navbar-nav > li.active > a:active {
  color: #333;
  font-size: 18px;
  padding: 12px 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 106, ../sass/header.scss */
  .navbar-inverse .navbar-nav > li > a {
    font-size: 12px;
  }
}
/* line 111, ../sass/header.scss */
header .container {
  position: relative;
}

@media (min-width: 768px) {
  /* line 116, ../sass/header.scss */
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (min-width: 768px) {
  /* line 124, ../sass/header.scss */
  .navbar-collapse {
    float: right;
  }
}
@media (max-width: 768px) {
  /* line 130, ../sass/header.scss */
  .navbar-collapse {
    background: #063C22;
    position: relative;
  }

  /* line 135, ../sass/header.scss */
  .navbar-toggle {
    position: relative;
    z-index: 999;
  }
  /* line 139, ../sass/header.scss */
  .navbar-toggle .icon-bar {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
}
/* line 146, ../sass/header.scss */
.navbar-nav li {
  transition: all 0.2s;
}
/* line 150, ../sass/header.scss */
.navbar-nav li.active, .navbar-nav li:hover {
  background: #D6D4D5;
}

/* line 155, ../sass/header.scss */
.social-log-contain {
  position: absolute;
  top: 45px;
  right: 20.5%;
  width: 200px;
  height: 0px;
  background: #D6D4D5;
  overflow: hidden;
  transition: all 0.2s;
}
/* line 165, ../sass/header.scss */
.social-log-contain.on {
  height: 50px;
}
/* line 169, ../sass/header.scss */
.social-log-contain a {
  display: inline-block;
  width: 45%;
  margin-left: 5px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
  height: 40px;
}
/* line 179, ../sass/header.scss */
.social-log-contain i {
  position: relative;
  top: 25%;
}
/* line 182, ../sass/header.scss */
.social-log-contain i:before {
  font-size: 20px;
}
/* line 187, ../sass/header.scss */
.social-log-contain .facebook {
  background: #3765A3;
}
/* line 189, ../sass/header.scss */
.social-log-contain .facebook:hover {
  background: #24426a;
}
/* line 192, ../sass/header.scss */
.social-log-contain .facebook:active {
  background: #172a44;
}
/* line 197, ../sass/header.scss */
.social-log-contain .google {
  background: #DC493C;
}
/* line 199, ../sass/header.scss */
.social-log-contain .google:hover {
  background: #ad2a1f;
}
/* line 202, ../sass/header.scss */
.social-log-contain .google:active {
  background: #812017;
}

/* line 208, ../sass/header.scss */
.page-title {
  color: #fff;
  float: left;
  font-size: 32px;
}

/* line 214, ../sass/header.scss */
.menu-container {
  margin-top: -25px;
}

/* line 218, ../sass/header.scss */
.navbar-nav li a {
  color: #333;
  text-transform: uppercase;
}

/*mobile navbar*/
/* line 224, ../sass/header.scss */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

/***
      UNIVERSAL ELEMENTS
                        ***/
/* line 6, ../sass/pages.scss */
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* line 11, ../sass/pages.scss */
.page-container {
  padding-top: 150px;
}

/* line 15, ../sass/pages.scss */
.section-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}
/* line 23, ../sass/pages.scss */
.section-header:before, .section-header:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  border-top: 1px solid #ccc;
  width: 32.5%;
}
/* line 32, ../sass/pages.scss */
.section-header:after {
  right: 0;
}

@media (max-width: 768px) {
  /* line 39, ../sass/pages.scss */
  .section-header:before, .section-header:after {
    width: 15%;
  }
}
/* line 45, ../sass/pages.scss */
input {
  padding: 5px;
}

/* line 49, ../sass/pages.scss */
input.submit, input[type="submit"] {
  padding: 7px 7px 8px;
  background: #063C22;
  color: #fff;
  border: none;
}

/***
      HOME
            ***/
/* line 59, ../sass/pages.scss */
.mobile-home-section {
  text-align: center;
  padding: 75px 50px;
}
/* line 63, ../sass/pages.scss */
.mobile-home-section:first-child {
  padding-top: 150px;
}
/* line 67, ../sass/pages.scss */
.mobile-home-section h2 a {
  font-size: 32px;
  color: #fff;
  display: block;
}
/* line 73, ../sass/pages.scss */
.mobile-home-section.login {
  background: #999;
}
/* line 77, ../sass/pages.scss */
.mobile-home-section.browse {
  background: #bbb;
}
/* line 81, ../sass/pages.scss */
.mobile-home-section.how {
  background: #ddd;
}

/* line 85, ../sass/pages.scss */
.jumbotron {
  text-align: center;
  background: #fff;
  height: 400px;
  margin-bottom: 0;
  padding-top: 0;
}
/* line 92, ../sass/pages.scss */
.jumbotron h1 {
  color: #333;
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 38px;
  text-transform: uppercase;
}
/* line 101, ../sass/pages.scss */
.jumbotron .intro-slide img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  /* line 109, ../sass/pages.scss */
  .jumbotron {
    height: 1000px;
  }
  /* line 113, ../sass/pages.scss */
  .jumbotron .intro-slide img {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  /* line 122, ../sass/pages.scss */
  .intro-slide:nth-child(3) {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
/* line 130, ../sass/pages.scss */
.home-form label,
.container > form label {
  display: none;
}
/* line 134, ../sass/pages.scss */
.home-form > span,
.container > form > span {
  padding: 0 !important;
}
/* line 138, ../sass/pages.scss */
.home-form .autocomplete-light-widget.modern-style,
.container > form .autocomplete-light-widget.modern-style {
  padding: 0;
  border: none;
  margin: 0;
}
/* line 144, ../sass/pages.scss */
.home-form select,
.container > form select {
  appearance: none;
  -webkit-appearance: none;
  height: 29px;
  position: relative;
  top: -1px;
  border-radius: 0;
  border: none;
  padding: 0 5px 5px;
  background: #fff;
  color: #999;
}
/* line 156, ../sass/pages.scss */
.home-form select option,
.container > form select option {
  font-size: 18px;
}
/* line 159, ../sass/pages.scss */
.home-form select option :after,
.container > form select option :after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
}
/* line 167, ../sass/pages.scss */
.home-form input, .home-form select, .home-form textarea,
.container > form input,
.container > form select,
.container > form textarea {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
}
/* line 172, ../sass/pages.scss */
.home-form input,
.container > form input {
  position: relative;
  height: 31px;
  padding: 0 5px 5px;
  color: #999;
}
/* line 179, ../sass/pages.scss */
.home-form input[type="text"],
.container > form input[type="text"] {
  border: none;
}
/* line 183, ../sass/pages.scss */
.home-form input[type="submit"],
.home-form button[type="submit"],
.container > form input[type="submit"],
.container > form button[type="submit"] {
  color: #fff;
}

@media (max-width: 768px) {
  /* line 190, ../sass/pages.scss */
  .jumbotron {
    margin-top: 0;
    height: 1025px;
  }

  /* line 194, ../sass/pages.scss */
  .jumbotron > div {
    margin-bottom: 25px;
  }

  /* line 197, ../sass/pages.scss */
  .jumbotron h1 {
    font-size: 24px;
    margin-top: 0;
  }

  /* line 201, ../sass/pages.scss */
  .home-form input,
  .home-form button {
    margin-bottom: 5px;
    width: 100%;
    display: block;
    padding: 5px;
  }
  /* line 208, ../sass/pages.scss */
  .home-form input.submit,
  .home-form button.submit {
    padding: 10px 15px;
    height: auto;
  }

  /* line 215, ../sass/pages.scss */
  .container > form input, .container > form select, .container > form textarea {
    margin-bottom: 10px !important;
  }
}
/* line 221, ../sass/pages.scss */
.home-search {
  display: block;
  padding: 25px 50px;
  background: #91C856;
  margin-bottom: 25px;
}
/* line 227, ../sass/pages.scss */
.home-search .text-contain {
  max-width: 565px;
  margin: 0 auto;
}
/* line 232, ../sass/pages.scss */
.home-search .lead {
  color: #fff;
  padding: 0 15px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 20px;
}

/* line 241, ../sass/pages.scss */
input.submit,
button.submit {
  background: #063C22;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  position: relative;
  top: 1px;
  color: #fff;
  transition: all 0.2s;
  padding: 8px 15px;
}
/* line 253, ../sass/pages.scss */
input.submit:hover,
button.submit:hover {
  background: #91C856;
}

/* line 258, ../sass/pages.scss */
.result-item,
.profile-produce-item {
  margin-bottom: 25px;
}
/* line 262, ../sass/pages.scss */
.result-item .image,
.profile-produce-item .image {
  display: block;
  border-radius: 100%;
  overflow: hidden;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}

/* line 272, ../sass/pages.scss */
.profile-garden {
  min-height: 250px;
}

/* line 276, ../sass/pages.scss */
.item-info {
  text-align: center;
  color: #333;
}

/* SEARCH */
/* line 284, ../sass/pages.scss */
.search-container {
  margin-top: 25px;
}

/* line 288, ../sass/pages.scss */
div:not(.home-form) > .browse-container {
  text-align: center;
}

/* line 1, ../sass/footer.scss */
footer {
  margin-top: 45px;
  padding-bottom: 15px;
  background: #eee;
  clear: both;
}
/* line 7, ../sass/footer.scss */
footer a {
  color: #333;
}
/* line 11, ../sass/footer.scss */
footer .footer-social {
  margin-top: 15px;
  margin-bottom: 45px;
}

/* line 17, ../sass/footer.scss */
.copyright {
  color: #ccc;
  text-align: center;
  font-size: 14px;
}
/* line 22, ../sass/footer.scss */
.copyright a {
  font-size: 14px;
  color: #ccc;
}

/* line 29, ../sass/footer.scss */
.stay-connected.section-header:before, .stay-connected.section-header:after {
  top: 10px;
}

/****
      Bootstrap overrides
                          ****/
/* line 17, ../sass/screen.scss */
.navbar-inverse {
  background-color: transparent;
}

/* line 21, ../sass/screen.scss */
.navbar-inverse a {
  transition: all 0.2s;
}

/* line 25, ../sass/screen.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: transparent;
  transition: all 0.2s;
}

/* line 31, ../sass/screen.scss */
body, h1, h2, h3, h4, h5, h6, p, span, div, a {
  font-family: 'Lato', sans-serif;
}

/* line 35, ../sass/screen.scss */
a, a:hover {
  text-decoration: none;
}
