{% extends "base.html" %}

{% block content %}

    <!-- START CONTENT|HOME TEMPLATE -->
  <section class="mobile-home visible-xs">
    <div class="mobile-home-section login">
      <h2><a href="#login">LOGIN</a></h2>
    </div>
    <div class="mobile-home-section browse">
      <h2><a href="#browse">BROWSE</a></h2>
    </div>
  </section>

  <section class="jumbotron">
    <h1 class="hero-title section-header">How It Works</h1>
    <div class="col-xs-12 col-md-4 intro-slide">
      <img src="/static/images/Produce4Produce.png"/>
    </div>
    <div class="col-xs-12 col-md-4 intro-slide">
      <img src="/static/images/Produce4Skills.png"/>
    </div>
    <div class="col-xs-12 col-md-4 intro-slide">
      <img src="/static/images/Produce4Smile.png"/>
    </div>
  </section>

  <section class="home-search">
    <div class="text-contain">
      <h3 class="lead">Start Browsing</h3>
      <div class="home-form">
        {% include 'produce_search_form.html' %}
      </div>
    </div>
  </section> <!--./home-search-->

  <section class="recent-item-container container">
    <h2 class="section-header">Recent Items</h2>
      {% for result in results %}
          {% include "produce_search_result_item.html" %}
      {% endfor %}
    </div>
  </section><!--</.recent-item-container-->
  <!-- END CONTENT|HOME CONTENT -->
{% endblock %}
