{% extends "base.html" %}
{% load postman_tags %}


{% block content %}
    {% postman_unread as unread_count %}

<a href="{% url "profile_edit" %}">Edit your profile</a>
<a href="{% url "postman:inbox" %}">Mailbox
    {% if unread_count > 0 %}
        ({{ unread_count  }})
    {% endif %}
</a>


    <div>
        <p>YOUR GARDEN:</p>
        {% for item in request.user.garden_items.all %}
            {% include "profile_produce_item.html" %}
        {% endfor %}
    </div>

    <div>
        <p>YOUR WISHLIST ITEMS:</p>
        {% for item in request.user.wishlist_items.all %}
            {% include "profile_wishlist_item.html" %}
        {% endfor %}
    </div>

{% endblock %}

{% block sidebar %}
    <a href='{% url "add_to_garden" %}'>Add item to garden</a>
    <a href='{% url "wishlist_add_item" %}'>Add item to wishlist</a>

    Hello: {{ request.user.first_name }} {{ request.user.last_name }}

    About You:
    {{ request.user.profile.about }}
{% endblock %}