{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2 class="section-header profile-header">{{ user.username }}</h2>
    <div class="container">
      <div class="user-container container">
    {% if user.profile.photo %}
    <div class="profile-photo"><img src="{{ user.profile.photo }}" /></div>
    {% endif %}
    <div class="profile-info">
        <span class="about-me profile-label">{% trans "About Me" %}</span>
        <div class="profile-about-text">{{ user.profile.about }}</div><br/>
        <div class="profile-zip">
            <span class="profile-label">{% trans "Zip Code" %} </span><br/>
            <span class="value">{{ user.profile.zip }}</span>
        </div>
    </div>
    <h4 class="message-link"><br/><a href='{% url 'postman:write' user %}'>{% trans "+ SEND ME A MESSAGE" %}</a></h4>
  </div>


    <div class="profile-garden">
      <h2 class="subsection-header">{% trans "What's in my Garden" %}</h2>
        {% for item in user.garden_items.all %}
            {% include "profile_produce_item.html" %}
        {% endfor %}
    </div>

    <div class="profile-wishlist">
    <h2 class="subsection-header">{% trans "Their Wishlist" %}</h2>
        {% for item in user.wishlist_items.all %}
            {% include "profile_wishlist_item.html" %}
        {% endfor %}
          <h4 class="message-link"><br/><a href='{% url 'postman:write' user %}'>{% trans "+ SEND ME A MESSAGE" %}</a></h4>
    </div>
  </div>
{% endblock %}

{% block sidebar %}

{% endblock %}
