{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2 class="section-header profile-header">{{ user.username }}</h2>
    <a href='{% url 'postman:write' user %}'>Message user to proprose a trade.</a>
    {% if user.profile.photo %}
        <span class="profile-photo"><img src="{{ user.profile.photo }}" /></span>
    {% endif %}
    <span class="profile-info">
        <span class="about-me">{% trans "About" %}</span>
        <div class="profile-about-text">{{ user.profile.about }}</div>
        <div class="profile-zip">
            <span class="label">{% trans "Zip Code" %}: </span>
            <span class="value">{{ user.profile.zip }}</span>
        </div>
    </span>


    <h2 class="subsection-header">{% trans "What's in their Garden" %}</h2>
    <div class="profile-garden">
        {% for item in user.garden_items.all %}
            {% include "profile_produce_item.html" %}
        {% endfor %}
    </div>

    <h2 class="subsection-header">{% trans "Their Wishlist" %}</h2>
    <div class="profile-wishlist">
        {% for item in user.wishlist_items.all %}
            {% include "profile_wishlist_item.html" %}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}

{% endblock %}
