{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2 class="section-header profile-header">{% trans "My Profile" %}</h2>

    {% if user.profile.photo %}
        <span class="profile-photo"><img src="{{ user.profile.photo }}" /></span>
    {% endif %}
    <span class="profile-info">
        <span class="about-me">{% trans "About Me" %} <a href="{% url "profile_edit" %}">(edit)</a></span>
    </span>



    <a href='{% url 'postman:write' user %}'>Message user to proprose a trade.</a>

    {% for item in user.garden_items.all %}
        {% include "profile_produce_item.html" %}
    {% endfor %}
{% endblock %}

{% block sidebar %}

{% endblock %}