{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h3 class="lead">{% trans "Edit Profile" %}</h3>
    {% if user.profile.photo %}
    <div class="user-profile-image">
        <img src='{{ user.profile.photo }}' />
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans "Update Profile" %}">
        <a href="/">{% trans "Cancel" %}</a>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}