footer {
  margin-top: 45px;
  padding-bottom: 15px;
  background: #eee;
  clear: both;

  a {
    color: #333;
  }

  .footer-social {
    margin-top: 15px;
    margin-bottom: 45px;
  }

  .social-contain .fa {
    position: relative;
    top: -3px;

    &:before {
      top: 0;
    }
  }

  .social-contain h4 {
    font-size: 24px;
  }
}

.copyright {
  color: #ccc;
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px;
  padding-top: 50px;

  .footer-menu {
    margin-bottom: 5px;

    a {
      color: #333;
      font-size: 16px;
    }
  }

  a {
    font-size: 14px;
    color: #ccc;
  }
}

.stay-connected.section-header {
  &:before, &:after {
    top: 10px;
  }
}

@media (max-width: 768px) {
  input, select, button:not(.navbar-toggle), #id_produce-wrapper {
    width: 100%;
  }

  footer {
    h2, h4 {
      margin-bottom: 25px;
    }

    .social-contain h4 {
      font-size: 20px;

      .fa:before {
        top: 3px;
      }
    }
  }
}
