@import "variables.scss";

/***
      UNIVERSAL ELEMENTS
                        ***/
body {
  max-width: 100%;
  overflow-x: hidden;
}

.page-container {
  padding-top: 150px;
}

.section-header,
#postman h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    border-top: 1px solid #ccc;
    width: 32.5%;
    z-index: -1;
  }

  &:after {
    right: 0;
  }
}

p, span, div, a, h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

@media(max-width: 768px) {
  .section-header {
    &:before, &:after {
      width: 15%;
    }
  }
}

input {
  padding: 5px;
}

input.submit, input[type="submit"] {
  padding: 7px 7px 8px;
  background: $green;
  color: #fff;
  border: none;
}

/***
      HOME
            ***/
.mobile-home-section {
  text-align: center;
  padding: 75px 50px;

  &:first-child {
    padding-top: 150px;
  }

  h2 a {
    font-size: 32px;
    color: #fff;
    display: block;
  }

  &.login {
    background: #999;
  }

  &.browse {
    background: #bbb;
  }

  &.how {
    background: #ddd;
  }
}
.jumbotron {
  text-align: center;
  background: #fff;
  height: 400px;
  margin-bottom: 0;
  padding-top: 0;

  h1 {
    color: #333;
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 38px;
    text-transform: uppercase;
  }

  .intro-slide {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media(max-width: 992px) {
  .jumbotron {
    height: 1000px;

    .intro-slide {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@media(min-width:768px) {
  .intro-slide:nth-child(3) {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}

.home-form,
.container > form {
  label {
    display: none;
  }

   > span {
     padding: 0 !important;
   }

   .autocomplete-light-widget.modern-style {
     padding: 0;
     border: none;
     margin: 0;
   }

   select {
     appearance: none;
     -webkit-appearance: none;
     height: 29px;
     position: relative;
     top: -1px;
     border-radius: 0;
     border: none;
     padding: 0 5px 5px;
     background: #fff;
     color: #999;

     option {
       font-size: 18px;

       :after {
         content:'';
         display: inline-block;
         width: 20px;
         height: 20px;       }
     }
   }

   input, select, textarea {
     box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
     border: none;
   }

   input {
     position: relative;
     height: 31px;
     padding: 0 5px 5px;
     color: #999;
   }

   input[type="text"] {
     border: none;
   }

   input[type="submit"],
   button[type="submit"] {
     color: #fff;
   }
}

@media (max-width:768px) {
  .jumbotron {
    margin-top: 0;
    height: 1025px;
  }
  .jumbotron > div {
    margin-bottom: 25px;
  }
  .jumbotron h1 {
    font-size: 24px;
    margin-top: 0;
  }
  .home-form input,
  .home-form button {
      margin-bottom: 5px;
      width: 100%;
      display: block;
      padding: 5px;

      &.submit {
        padding: 10px 15px;
        height: auto;
      }
  }

  .container > form {
    input, select, textarea {
      margin-bottom: 10px !important;
    }
  }
}

.home-search {
  display: block;
  padding: 25px 50px;
  background: $light-green;
  margin-bottom: 25px;

  .text-contain {
    max-width: 565px;
    margin: 0 auto;
  }

  .lead {
    color: #fff;
    padding: 0 15px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 20px;
  }
}

input.submit,
button.submit {
  background: $green;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  position: relative;
  top: 1px;
  color: #fff;
  transition: all 0.2s;
  padding: 8px 15px;

  &:hover {
    background: $light-green;
  }
}

.result-item,
.profile-produce-item {
  margin-bottom: 25px;

  .image {
    display: block;
    border-radius: 100%;
    overflow:hidden;
    width: 150px;
    margin: 0 auto;
    text-align: center;
  }
}

.profile-garden {
  min-height: 250px;
}

.item-info {
  text-align: center;
  color: #333;
}


/* SEARCH */

.search-container {
  margin-top: 25px;
}

div:not(.home-form) > .browse-container {
  text-align: center;
}

/* Profile View */

.user-container {
  margin: 0 auto;
  width: 66%;
}

@media (max-width: 768px) {
  .user-container {
    width: 100%;
  }

  .profile-header {
    font-size: 22px;
    &:before,
    &:after {
      display: none;
    }
  }
}

.profile-photo {
  overflow: hidden;
  border-radius: 100%;
  float: left;
  margin-right: 25px;
  margin-bottom: 75px;
  max-width: 150px;
  max-height: 150px;

  img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .profile-photo {
    float: none;
    margin: 0 auto 10px;;
  }
}


.profile-label {
  font-weight: 600;
}

.value {
  font-weight: 400;
}

.profile-produce-item {
  margin-bottom: 25px;

  .image {
    display: block;
    border-radius: 100%;
    overflow:hidden;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    text-align: center;
    float:left;
  }
}

@media (max-width: 768px) {
  .profile-produce-item {
    .image {
      float: none;
    }
  }

  .item-info {
    text-align: center;
    margin-top: 10px;
  }
}

.subsection-header {
  font-size: 24px;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin-top: 15px;
}

.profile-garden,
.profile-wishlist {
  width: 66%;
  margin: 0 auto;
  overflow: hidden;

  .profile-produce-item {
    width: 100%;
  }

  .item-info {
    display: inline-block;
    margin-left: 25px;
    text-align: left;
    width: 75%;
  }
}

@media (max-width: 768px) {
  .profile-garden,
  .profile-wishlist {
    width: 100%;
    margin-top: 25px;
  }
}


/*MESSAGE*/

#postman {
  margin: 0 auto;

  th {
    display: block;
  }

  td {
    display: block;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  #postman {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  #postman {
    width: 970px;
  }
}

@media (min-width: 768px) {
  #postman {
    width: 750px;
  }
}

button[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
  background: $green;
  border: none;
  padding: 10px 15px;
  color: #fff;
}
