$green: #063C22;
$light-green: #91C856;
$google-plus: #DC493C;
$light-grey: #E9E9E9;
$grey: #D6D4D5;
$facebook: #3765A3;
$twitter: #5EA9DD;
$flickr: #E30761;
$share-alt: #2D7140;
$youtube: #E12B28;
$blue: #0095CB;
